@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<main>
<!-- Hero Section -->
    <div id="carouselExampleSlidesOnly" class="carousel slide relative" data-bs-ride="carousel">
        <div class="carousel-inner relative w-full overflow-hidden">
            <div class="carousel-item active relative float-left w-full">
                <img src="~/images/hero/hero-1.jpg"
                     class="block w-full"
                     alt="Wild Landscape" />
            </div>
            <div class="carousel-item relative float-left w-full">
                <img src="~/images/hero/hero-2.jpg"
                     class="block w-full"
                     alt="Camera" />
            </div>
            <div class="carousel-item relative float-left w-full">
                <img src="~/images/hero/hero-3.jpg"
                     class="block w-full"
                     alt="Exotic Fruits" />
            </div>
        </div>
    </div>
</main>
