@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<body>
    <!-- create a sign-in page -->
<nav>
	<ul style="flex">
        <li><a href="/auth/login" asp-controller="Auth" asp-action="Login">Login</a></li>
        <li><a href="/auth/signup" asp-controller="Auth" asp-action="Signup">Signup</a></li>
	</ul>
</nav>
</body>